body{
  margin: 30px auto 0 auto;
  width: 992px;
}

/*start of top section*/
.tm-top{
  background-color: rgb(43,205,192);
  height: 380px;
  display:flex;
}

.tm-font{
  font-family: 'Adamina';
  font-size: 50px;
  color: white;
  margin: auto;
}

strong{
  font-weight: bold;
}

/*end of top section*/

/*start of second section*/

.tm-bottom{
  background-color: black;
  height: 380px;
  margin-bottom: 30px;
  display:flex;
  box-sizing: border-box;
  justify-content: center;
  padding: 20px;
}

.tm-column{
  color:white;
  flex-basis: 20%;
  padding: 40px;
  font-family: 'Alef';
  text-align: center;
}

h2{
  font-family: 'Alef';
  font-size: 40px;
  text-align: center;
}

#tm-border{
  border-top: 28px solid rgb(51,168,221);
}

#tm-bordertwo{
  border-top: 28px solid rgb(244,103,49);
}

#tm-borderthree{
  border-top: 28px solid rgb(43,205,192);
}

/*end of second section*/

/*start of media section*/

@media (max-width: 700px){

  body{
    width: 100%;
}

  .tm-top{
    background-color: rgb(51,168,221);
}

  .tm-bottom{
    width: 100%;
    background-color: rgb(247,245,246);
    flex-wrap: wrap;
    display: flex;
}

  .tm-column{
    width: 100%;
    background-color: rgb(247,245,246);
    color: black;
    flex-basis: 60%;
  }

}
